*.iml
.gradle
/local.properties
/.idea
/keys/debug.keystore
/keys/release.keystore
.DS_Store
/build
/captures
.externalNativeBuild
project.properties
/.project
/tmp

# Clojure
.lsp/
.clj-kondo/
.cpcache/
.nrepl-port