*.iml
.gradle
/local.properties
.idea
/keys/debug.keystore
/keys/release.keystore
/keys/google-cloud-key.json
/keys/keepassvault-firebase-service-account.json
ci.properties
.DS_Store
/build
/captures
.externalNativeBuild
project.properties
/.project
/tmp
.kotlin/
*.so

# Rust
/keepass-rs/target

# Clojure
.lsp/
.clj-kondo/
.cpcache/
.nrepl-port
