<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivanovsky.passnotes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <!-- Activities -->
        <activity
            android:name=".presentation.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.unlock.UnlockActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.newdb.NewDatabaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.group.GroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.groups.GroupsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.note.NoteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.storagelist.StorageListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.filepicker.FilePickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.debugmenu.DebugMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.note_editor.NoteEditorActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <data android:scheme="db-u3525mtogsgfj2g" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>