<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ivanovsky.passnotes"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:name=".App">

		<!-- Activities -->
		<activity
			android:name=".ui.StartActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.unlock.UnlockActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".ui.newdb.NewDatabaseActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".ui.groups.GroupsActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".ui.newgroup.NewGroupActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".ui.notes.NotesActivity"
			android:screenOrientation="portrait"/>

	</application>

</manifest>